body, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;  
}

.bg-dark {
    background-color: rgb(112, 196, 179);
    text-align: center;
}

.text-white {
    color: rgb(2, 32, 28);
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3rem;
}

.mt-0 {
    margin: 0;
}

.mt-1 {
    margin: 1rem;
}

.mt-2 {
    margin: 1.5rem;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: rgba(0,0,0,0.55);
    text-decoration: none;
}
.nav-link1 {
    padding: 0.5rem 1rem;
    color: rgb(6, 44, 39);
    text-decoration: none;
}

.nav-link.active {
    color: rgba(0,0,0,0.9);
}

.bg-light {
    background-color: rgb(151, 218, 204)
}

.navbar {
    height: 50px;
    display: flex;
}

.collapse {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar {
    width: 22%;
    height: 320px;
    margin-right: 4px;
}
.list{
    list-style: none;
    padding: 0;
}
 .list li{
    padding: 10px 30px;
    background:rgb(22, 138, 114);
    color: rgb(29, 59, 55);
    font-size: 25px;
    margin-bottom: 5px;
}
    .list li:first-child{
        border-bottom: none;
}
.post-body{
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}
article {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(78, 165, 148);
    color: #0e0d0d;
}
article img {
    max-width: 250px;
    margin-right: 15px;
}
.post-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post-header{
    margin-top: 15px;
}

.post-meta {
    display: flex;
    font-size: 14px;
}

.post-meta > * {
    margin: 0;
    margin-right: 15px;
}

.post-meta span {
    font-style: italic;
}
.bg1 {
    width: 20%;
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
    background-color: rgb(8, 83, 68);
    color: aliceblue;
}
.bg0{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: azure;
    text-align: center;
}
.btn{
    background-color: rgb(8, 83, 68);
    color: azure;
}
body{
    background-color: rgb(182, 232, 221);
}
.paginate{
    display: flex;
    list-style: none;
}
.paginate-item{
    border: 1px solid #2b4439;
    margin: 2px;
    background-color:#2b4439;
    transition: 0.9s;
}
.paginate-item a{
  padding: 0.75rem;
}
.paginate a, .paginate a:visited{
    color:#fff;
}
.paginate a{
    text-decoration: none;
}

.paginate-item:hover{
    background-color: #fff;
}
.paginate-item:hover a {
    color:#2b4439;
}
.justify-content-center{
    justify-content: center;
}




  
 